* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  background: #424242;
}

// :global(.ui.basic.circular.icon.button) {
//   box-shadow: 0px 0px 0px 3px inset !important;

//   :hover, :active, :focus, :visited {
//     box-shadow: 0px 0px 0px 3px inset !important;
//   }
// }